@import "tailwindcss";

@theme inline {
  --color-primary: #10b981;
  --color-background-light: #f8fafd;
  --color-background-dark: #0f172a;
  
  --color-slate-custom-50: #f8fafc;
  --color-slate-custom-100: #f1f5f9;
  --color-slate-custom-200: #e2e8f0;
  --color-slate-custom-800: #1e293b;
  --color-slate-custom-900: #0f172a;

  --font-display: "Public Sans", "sans-serif";
}

@layer base {
  body {
    background-color: var(--color-background-light);
    color: #0f172a;
    font-family: var(--font-display);
  }
  
  .dark body {
    background-color: var(--color-slate-custom-900);
    color: #f1f5f9;
  }
}
